---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <nav slot="nav" transition:name="page-nav" class="hidden md:block absolute top-0 md:top-8 left-6 right-6 pb-2 border-b border-gray-200 dark:border-gray-700">
    <a href="/" data-astro-prefetch>← Back to home</a>
  </nav>
  
  <h1 class="text-4xl font-bold mb-6">Posts</h1>
  
  <p>Coming soon.</p>
</BaseLayout>

