@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 206, 37%, 96%;
    --background-1: 206, 15%, 91%;
    --background-2: 210, 4%, 71%;
    --foreground-2: 204, 2%, 51%;
    --foreground-1: 195, 3%, 28%;
    --foreground: 210, 13%, 5%;

    --accent: 32, 80%, 25%;
    --accent-2: 32, 63%, 68%;
    --border: var(--foreground-1);
    --ring: var(--accent);
    
    --destructive: 12, 85%, 60%;
    --destructive-foreground: var(--background);

    --radius: 1rem;
  }
 
  .dark {
    --background: 210, 13%, 5%;
    --background-1: 195, 5%, 16%;
    --background-2: 204, 2%, 51%;
    --foreground-2: 210, 4%, 71%;
    --foreground-1: 206, 15%, 91%;
    --foreground: 206, 37%, 96%;

    --accent: 32, 63%, 68%;
    --accent-2: 32, 80%, 25%;
    --border: var(--background-1);
    --ring: var(--accent);

    --destructive: 12, 85%, 60%;
    --destructive-foreground: var(--foreground);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}