@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-black;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-gray-900 text-white;
    }
  }
  
  a {
    @apply underline;
  }
  
  a:hover {
    @apply no-underline;
  }
}