---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-4xl font-bold mb-4">404</h1>
  <p class="mb-4">This page doesn't exist.</p>
  <p>
    <a href="/">â† Back to home</a>
  </p>
</BaseLayout>
