---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const recentProjects = projects.filter((project) => project.slug === "moon-lander");
---

<BaseLayout>
  <h1 class="text-4xl font-bold mb-6">Daniel Ives</h1>
  
  <p class="mb-6">
    I'm a software engineer, husband, and musician. I work at <a href="https://bamboorose.com">Bamboo Rose</a> building full stack applications. 
    I've been coding for several years and focus on shipping fast and building things that work.
  </p>
  
  <p class="mb-6">
    You can <a href="/about">read more about me</a> or <a href="/blog">check out my blog posts</a>.
  </p>
  
  {recentProjects.length > 0 && (
    <>
      <p class="mb-4">
        Some of my most recent projects:
      </p>
      
      <div class="mb-6">
        {recentProjects.map((project) => (
          <div class="mb-2">
            <a href={`/projects/${project.slug}`}>{project.data.title}</a>
          </div>
        ))}
      </div>
    </>
  )}
  
  <p>
    You can also <a href="/projects">view all my projects</a>, 
    <a href="https://github.com/daives01">check out my code on GitHub</a>, 
    find me on <a href="https://linkedin.com/in/daniel-benjamin-ives">LinkedIn</a>, or 
    <a href="https://x.com/couponnephew">follow me online</a>.
  </p>
</BaseLayout>
