---
import daniel2 from "@/assets/daniel-2.jpg";
---

<div class="grid md:grid-cols-2">
  <div class="flex justify-center align-middle items-center">
    <div class="w-3/4 aspect-square overflow-hidden rounded-2xl">
      <img src={daniel2.src} alt="Daniel" class="object-cover" />
    </div>
  </div>
  <div class="flex flex-col justify-center align-middle text-center p-8 md:px-16">
    <h1 class="text-accent-foreground text-4xl font-bold pb-4">Hi, I'm Daniel</h1>
    <p class="text-lg indent-4">
      Starting as an intern at Backbone PLM, I expanded on my traditional CS education with full stack web development. Since graduating from CSU in
      May 2023, I have joined their new parent company, Bamboo Rose, as a full stack engineer.
    </p>
    <p class="text-lg pt-4 indent-4">
      Outside of work, I enjoy a variety of hobbies. I play drums for Avalanche and Nuggets games, love to rock climb, golf, ski, and hike.
    </p>
    <p class="text-lg pt-4 indent-4">
      I'm always striving to improve my skills and learn new things. I pride myself on being a natural leader, learning new things extremely quickly,
      and communicating effectively.
    </p>
  </div>
</div>
