---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col md:flex-row justify-between gap-12 mt-auto px-10 py-20 md:px-12 md:pt-8">
	<div class="group flex flex-col gap-2 md:flex-row md:gap-10">
		<p>
			Built on Cloudflare Pages using <a href="https://astro.build/">Astro</a>
		</p>
		<p>&copy; {currentYear} Daniel Ives</p>
	</div>
	<p class="socials">
		<a href="https://github.com/daives01"> GitHub</a>
        <a href="https://linkedin.com/in/daniel-benjamin-ives"> LinkedIn</a>
	</p>
</footer>