---
import Search from "./Search/Search";
import favicon from "../../public/favicon.png"
---

<div class="flex h-16 justify-between align-middle p-4">
  <p class="inline-flex">
    <a href="/" class="-mt-3">
      <img src={favicon.src} alt="logo" class="h-12" />
    </a>
  </p>
  <Search client:only="react" />
</div>
