---
import Search from "./Search/Search";
---

<div class="flex h-16 justify-end md:justify-between align-middle p-4">
  <p class="hidden md:inline-flex"><a href="/"></a></p>
  <Search client:only="react" />
</div>
