---
import Search from './Search'
---
<div class="flex h-16 justify-end md:justify-between align-middle p-4 ">
<p class="hidden md:inline-flex"><a href="/">Daniel Ives</a></p>	
<Search client:only />
</div>