---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => a.data.index - b.data.index);
---

<BaseLayout>
  <div class="flex flex-col justify-start items-center h-full w-full gap-4">
    <h1 transition:name="my-projects" class="text-4xl font-bold text-transparent">
      <span class="bg-gradient-to-br from-accent-foreground to-foreground bg-clip-text">My Projects</span>
    </h1>
    <div transition:animate="slide" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {projects.map((project) => <ProjectCard data={project.data} url={`/projects/${project.slug}`} />)}
    </div>
  </div>
</BaseLayout>
