---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/
import "@/styles/globals.css";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<script>
	import { getThemePreference } from "@/components/toggleTheme";
	const currentTheme = getThemePreference();
	document.documentElement.classList[currentTheme === "dark" ? "add" : "remove"]("dark");

	if (typeof localStorage !== "undefined") {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");
		});
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ["class"],
		});
	}
</script>

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<Nav />
		<div class="min-h-full flex flex-col justify-center">
			<slot />
		</div>
	</body>
</html>
