---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/
import "@/styles/globals.css";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="flex flex-col w-full h-lvh overflow-x-hidden">
		<Nav transition:persist />
		<div class="h-full flex flex-col justify-start">
			<slot />
		</div>
	</body><style>
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	</style>
</html>
