---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/
import "@/styles/globals.css";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---
<script is:inline>
	// initial theme set
	const theme = localStorage.getItem("theme");
	if (theme === "dark") {
		document.documentElement.classList.add("dark");
	} else if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			document.documentElement.classList.add("dark");
		}
		localStorage.setItem("theme", "system")
	}
</script>

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="flex flex-col w-full h-screen overflow-x-hidden">
		<Nav transition:persist/>
		<div class="h-full flex box-border flex-col justify-start">
			<slot />
		</div>
	</body>
</html>
